{% extends "base.html" %}

{% block body %}
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"><b style="color: #FFFF;">#</b></th>
            <th scope="col"><b 	style="color: #FFFF;">Meal title</b></th>
            <th scope="col"><b style="color: #FFFF;">Price</b></th>
            <th scope="col"><b style="color: #FFFF;">Quantity</b></th>
            <th scope="col"><b style="color: #FFFF;">Total Item Price</b></th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.meals.all %}
        <tr>
            <th style="color: #fac564;" scope="row">1</th>
            <td style="color: #fac564;">{{ order_item.meal.name }}</td>
            <td><p style="color: #fac564;">${{ order_item.meal.price }}</p></td>
            <td>
                <a href="{% url 'meals:remove-single-item-from-cart' order_item.meal.slug %}"><i class="fas fa-minus mr-2"></i></a>
                <a style="color: #fac564;" href="#">{{ order_item.Quantity }}</a>
                <a href="{% url 'meals:add-to-cart' order_item.meal.slug %}"><i class="fas fa-plus ml-2"></i></a>

            </td>
            <td>
            {% if order_item.meal.saved_price %}
                <a style="color: #fac564;" href="#">${{ order_item.get_amount_saved }}</a>
                <span class="badge badge-primary">Saving ${{ order_item.get_total_discount_item_price }}</span>
                {% endif %}



            <a style='color: red;' href="{% url 'meals:remove-from-cart' order_item.meal.slug %}">
                <i class="fas fa-trash float-right"></i></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'><p style="color: #fac564;">Your cart is empty</p></td>
        </tr>

        {% endfor %}

        {% if object.get_total %}

        <tr>
            <td colspan="4"><b style="color :#fac564;">Order Total</b></td>
            <td><b style="color: #008000;">${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a  class='btn btn-warning float-right ml-2' href='/meals/checkout'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/meals'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock body %}